<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {
  controller: "nested-form", nested_form_wrapper_selector_value: ".nested-form-wrapper" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%# TODO - test Tailwind styles better%>
  <div class="field">
    <%= f.label :first_name, class: "text-sm font-medium text-gray-700"%><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <template data-nested-form-target="template">
    <%= f.fields_for :contacts,
      Contact.new(contact_type: 0, value: ""),
      child_index: 'NEW_RECORD' do |contact_fields| %>
      <%= render "contact_form", f: contact_fields %>
    <% end %>
  </template>

  <%= f.fields_for :contacts do |contact_fields| %>
    <%= render "contact_form", f: contact_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Adicionar contato</button>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
